/* line 5, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* line 16, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
body {
  line-height: 1; }

/* line 22, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
ol, ul {
  list-style: none; }

/* line 25, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 29, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 34, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
q:before, q:after {
  content: "";
  content: none; }

/* line 38, /Users/swillis/Code/portfolio-v2/source/stylesheets/vendor/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_typography.sass */
body {
  font-family: "ratio";
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  /* line 6, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_typography.sass */
  body em {
    font-weight: 600; }
  /* line 9, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_typography.sass */
  body #about,
  body #work,
  body #contact,
  body footer {
    text-align: center; }
    /* line 15, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_typography.sass */
    body #about h2,
    body #work h2,
    body #contact h2,
    body footer h2 {
      font-size: 35px;
      font-weight: 600;
      padding: 60px 0 10px; }
    /* line 20, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_typography.sass */
    body #about p,
    body #work p,
    body #contact p,
    body footer p {
      font-size: 18px;
      max-width: 480px;
      margin: 0 auto 1em;
      font-weight: 500;
      line-height: 1.5em; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_layouts.sass */
.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  padding: 1em; }

/* line 7, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_layouts.sass */
.container:first-child {
  padding: 0 1em 1em; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
nav {
  position: relative;
  height: 30px; }
  /* line 5, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
  nav p {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-top: 10px; }
  /* line 10, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
  nav a {
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  /* line 14, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding-top: 10px; }
    /* line 21, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
    nav ul li {
      display: inline;
      margin: 0 10px; }
      /* line 25, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
      nav ul li a {
        color: #9e392e;
        text-decoration: none;
        font-weight: 500;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        /* line 31, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
        nav ul li a:hover {
          color: white; }
      /* line 34, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
      nav ul li a.hire {
        color: white;
        -webkit-transition: 0s;
        -moz-transition: 0s;
        -o-transition: 0s;
        transition: 0s; }
        /* line 38, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_nav.sass */
        nav ul li a.hire:hover {
          border-bottom: 2px solid white; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
#homepage {
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea5343), color-stop(100%, #ea6243));
  background-image: -webkit-linear-gradient(top, #ea5343, #ea6243);
  background-image: -moz-linear-gradient(top, #ea5343, #ea6243);
  background-image: -o-linear-gradient(top, #ea5343, #ea6243);
  background-image: linear-gradient(top, #ea5343, #ea6243);
  height: 100%; }
  /* line 7, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
  #homepage img {
    margin-bottom: 30px; }
  /* line 12, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
  #homepage .headline h1 {
    color: white;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 15px; }
  /* line 18, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
  #homepage .headline h2 {
    color: #9e392e;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 60px; }
  /* line 24, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
  #homepage .headline a {
    color: white;
    padding: 20px 17px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: 500; }
    /* line 34, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_homepage.sass */
    #homepage .headline a:hover {
      border-color: white; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
#about {
  border-top: 5px dashed #ea6243;
  text-align: center;
  background: #283849; }
  /* line 6, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
  #about h2 {
    color: white; }
  /* line 9, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
  #about img {
    max-height: 200px;
    margin: 0 0 20px; }
  /* line 13, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
  #about p {
    text-align: justify !important;
    font-size: 18px;
    color: #c4c4c4; }
    /* line 18, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
    #about p a {
      color: #ea6243;
      font-weight: 500; }
      /* line 22, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
      #about p a:hover {
        border-bottom: 2px solid #ea6243; }
  /* line 26, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_about.sass */
  #about .bios {
    padding: 60px 0; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
#work {
  border-top: 5px dashed #283849;
  background: #21a288; }
  /* line 5, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  #work h2 {
    color: white; }
  /* line 8, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  #work p {
    color: #0d584a; }

/* line 11, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center; }
  /* line 17, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  .grid li {
    display: inline-block;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative; }
  /* line 23, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  .grid figure {
    margin: 0;
    position: relative; }
    /* line 26, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
    .grid figure img {
      max-width: 100%;
      display: block;
      position: relative; }
  /* line 30, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e; }
    /* line 37, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
    .grid figcaption h3 {
      margin: 0 0 1em;
      padding: 0;
      color: white; }
    /* line 41, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
    .grid figcaption a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: #ed4e6e;
      color: white; }

/* line 49, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.cs-style-3 figure {
  overflow: hidden; }
  /* line 51, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
  .cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }

/* line 56, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.no-touch .cs-style-3 figure:hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

/* line 63, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }
/* line 68, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.cs-style-3 figcaption {
  height: 100px;
  width: 360px;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s; }

/* line 82, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.no-touch .cs-style-3 figure:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }

/* line 93, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }
/* line 102, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_work.sass */
.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_contact.sass */
#contact {
  border-top: 5px dashed #21a288;
  background: #283849;
  height: 307px; }
  /* line 6, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_contact.sass */
  #contact h2 {
    color: white; }
  /* line 9, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_contact.sass */
  #contact p {
    color: #c4c4c4;
    margin-bottom: 50px !important; }
  /* line 13, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_contact.sass */
  #contact a {
    color: #283849;
    background: #c4c4c4;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 30px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 24, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_contact.sass */
    #contact a:hover {
      background: white; }

/* line 1, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
footer {
  background: #ecf0f1;
  border-top: 5px dashed #283849; }
  /* line 5, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
  footer ul.social {
    padding: 3em; }
    /* line 7, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
    footer ul.social li {
      display: inline;
      margin: 20px 30px; }
      /* line 11, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
      footer ul.social li a {
        color: #283849;
        font-size: 18px; }
        /* line 16, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
        footer ul.social li a:hover {
          border-bottom: 2px solid #283849; }
  /* line 19, /Users/swillis/Code/portfolio-v2/source/stylesheets/lib/base/_footer.sass */
  footer p.copy {
    margin: 0 auto;
    padding: 0 0 3em;
    font-size: 14px;
    font-weight: 400;
    color: #283849; }
