<div id='about'>
  <div class='container'>
    <h2>Hi, I'm Sam.</h2>
    <div class='bios'>
      <div class='bio-img'>
        <a href="http://twitter.com/thesamwillis" target="_blank"><img src="images/about-pic.png"></a>
      </div>
      <p>I am a London based Designer currently working at tech startup <a href="http://listora.com" target='_blank'>Listora</a>. I love to design things of all shapes, sizes and fidelities. But to be honest, I do spend most of my time designing for the web.</p>
      <p>Whether your idea is big or small, simple or complex; I can help you make it happen.</p>
      <p>But hey, don't take my word for it. Have a look at some of my <a href="#work">recent projects below</a>.</p>
    </div>
  </div>
</div>
