<div id='about' class='slide'>
  <div class='container'>
    <img src="">
    <h2>About me</h2>
    <p>Gratuitous copy describing my finer points, geared solely to sell both myself and my services</p>
  </div>
</div>