<div id='about' class='slide'>
  <div class='container'>
    <h2>Hi, I'm Sam.</h2>
    <div class='bio'>
      <img src="images/about-pic.png">
      <p>I am a London based Designer currently working at <a href="http://listora.com" target='_blank'>Listora</a>. I have a passion for design that transcends medium (but to be honest, I spend most of my time making websites).</p>
      <p>I am an accomplished Front-End Developer / Designer, and I have had the privilege of working on a multitude of varied and interesting projects.

      <p>But hey, don't take my word for it. Have alook at some of my <a href="#work">recent projects below</a>.</p>
    </div>
  </div>
</div>