<div id='about' class='slide'>
  <div class='container'>
    <h2>Who am I?</h2>
    <div class='bio'>
      <img src="images/about-pic.png">
      <p>Hey, I'm Sam.</p>
      <p>I am a London based Designer currently working at Listora. I have a passion for design that transcends medium.</p>
      <p>(But to be honest, I spend most of my time making websites.)</p>
      <p>I have been designing things for as long as I can remember, but only turned pro (think you can call it that) a couple of years ago. I write code for days (no really, I am also a Front End Dev so it comes with the territory).</p>
    </div>
  </div>
</div>