<div id='contact'>
  <div class='container'>
    <h2>Get in touch</h2>
    <p>If you would like to work with me, hire me or just want to shoot the breeze, then please do get in touch.</p>
    <a href="#">Write me!</a>
  </div>
</div>