<div id='contact'>
  <div class='container'>
    <h2>Get in touch</h2>
    <p>If you have something to say, just come right out and say it!</p>
    <p>(I'm quite nice so don't be shy.)</p>
  </div>
</div>