<footer>
  <div class='container'>
    <ul class='social'>
      <li><a href="http://twitter.com/thesamwillis" target="_blank">Twitter</a></li>
      <li><a href="http://dribbble.com/thesamwillis" target="_blank">Dribbble</a></li>
      <li><a href="http://linkedin.com/in/thesamwillis" target="_blank">Linkedin</a></li>
      <li><a href="http://github.com/swillis" target="_blank">Github</a></li>
    </ul>
    <p class='copy'>&copy; Sam J. Willis Design. All rights reserved.</p>
    <p class='hint'>P.S. Did you find the easter egg?</p>
  </div>
</footer>

</div>