<div id='homepage' class='slide'>
  <%= partial "_includes/nav" %>
  <div class='container headline'>
    <h1>I design &amp; build digital products</h1>
    <h2>Welcome to the online portfolio of Sam Willis, a London based Designer</h2>
    <!-- <a href="#">Let's take a look</a> -->
  </div>
</div>