<div class='content'>

<div id='homepage' class='slide'>
  <%= partial "_includes/nav" %>
  <div class='headline centered'>
    <h1>I build digital products.</h1>
    <h2>Welcome to the online portfolio of <em>Sam Willis</em>, a London based Designer.</h2>
    <a href="#about">Take a look</a>
  </div>
</div>