<div class='content'>

<div id='homepage' class='slide'>
  <%= partial "_includes/nav" %>
  <div class='container headline centered'>
    <!-- <img src="images/header-illustration.png"> -->
    <h1>I build digital products.</h1>
    <h2>Welcome to the online portfolio of <em>Sam Willis</em>, a london based Designer.</h2>
    <a href="#about">Take a look</a>
  </div>
</div>