<nav class='container'>
  <p><a href='#'>Sam J. Willis</a></p>
  <ul>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="mailto:hello@thesamwillis.com" class='hire' target='_blank'>Hire me!</a></li>
  </ul>
</nav>