<nav class='container'>
  <p><a class='title' href='#'>Sam J. Willis</a></p>
  <ul>
    <li><a href="#about">Hello</a></li>
    <li><a href="#work">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="mailto:hello@thesamwillis.com?subject=Hire%20Sam%20to:%20" class='hire' target='_blank'>Hire me!</a></li>
  </ul>
</nav>