<div id='work'>
  <div class='container'>
    <h2>Projects</h2>
    <p>Here are some of the projects I have worked on recently.</p>
  </div>

  <ul class="grid cs-style-3">

    <li>
      <figure>
        <img src="images/4.png" alt="img04">
        <figcaption>
          <h3>Settings</h3>
          <span>This is a brief summary of the piece and my involvement in it.</span>
          <a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="images/1.png" alt="img01">
        <figcaption>
          <h3>Camera</h3>
          <span>Jacob Cummings</span>
          <a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="images/2.png" alt="img02">
        <figcaption>
          <h3>Music</h3>
          <span>Jacob Cummings</span>
          <a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
        </figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <img src="images/5.png" alt="img05">
        <figcaption>
          <h3>Safari</h3>
          <span>Jacob Cummings</span>
          <a href="http://dribbble.com/shots/1116775-Safari">Take a look</a>
        </figcaption>
      </figure>
    </li>

  </ul>

</div>