<div id='work'>
  <div class='container hideme'>
    <h2>Projects</h2>
    <p>Here are some of the projects I've had the privilege of being a part of.</p>
  </div>

  <ul class="grid cs-style-3">

    <li class='hideme'>
      <figure>
        <img src="images/1.png" alt="img04">
        <figcaption>
          <h3>Trend &amp; Fayre</h3>
          <span class='description'>I worked closely with Kiri Barker to create an online home for her Interior Design business.</span>
          <span class='category'>Website</span>
          <a class='visit' href="http://trendandfayre.com">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/2.png" alt="img01">
        <figcaption>
          <h3>Design + Banter</h3>
          <span class='description'>Me and co-organiser Gearóid have been running this Designer meetup since June '13.</span>
          <span class='category'>Event</span>
          <a class='visit' href="http://designandbanter.com" target="_blank">Attend &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/3.png" alt="img02">
        <figcaption>
          <h3>Myths + Metrics</h3>
          <span class='description'>I helped Jamie to create a brand identity for his fledgling startup.</span>
          <span class='category'>Branding</span>
          <a class='visit' href="http://dribbble.com/shots/1120026-A-sticker?list=users" target="_blank">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/4.png" alt="img05">
        <figcaption>
          <h3>MathFights</h3>
          <span class='description'>I was hired to build the landing page for San Fran startup MathFights.</span>
          <span class='category'>Website</span>
          <a class='visit' href="http://mathfights.com" target="_blank">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/5.png" alt="img05">
        <figcaption>
          <h3>Reflection</h3>
          <span class='description'>I paired up with Designer <a class='credit' href="http://dribbble.com/alexscott">Alex Scott</a> to build this landing page for Reflection.io.</span>
          <span class='category'>Website</span>
          <a class='visit' href="http://reflection.io" target="_blank">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/6.png" alt="img05">
        <figcaption>
          <h3>Ping Pong Fight Club</h3>
          <span class='description'>This was built using Strikingly to give this exciting new event an online home.</span>
          <span class='category'>Website</span>
          <a class='visit' href="http://pingpongfightclub.com" target="_blank">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/7.png" alt="img05">
        <figcaption>
          <h3>AU Insights</h3>
          <span class='description'>Also built using Strikingly to create an online presence quickly and effectively.</span>
          <span class='category'>Website</span>
          <a class='visit' href="http://auinsights.com" target="_blank">Take a look &rsaquo;&rsaquo;</a>
        </figcaption>
      </figure>
    </li>

    <li class='hideme'>
      <figure>
        <img src="images/8.png" alt="img05">
        <figcaption>
          <h3>Add your project to this list.</h3>
          <a href="mailto:hello@thesamwillis.com?subject=Hire%20Sam%20to:%20" class='visit hireme' target="_blank">Hire me</a>
        </figcaption>
      </figure>
    </li>

  </ul>

</div>