---
title: Sam Willis - Digital Designer
---

<%= partial "_includes/nav" %>

<script type="text/javascript">
  $('.splitter').hide();
</script>

<div id='homepage'>
  <div class='home-content'>
    <h1>I design &amp; build digital products</h1>
    <h2>Welcome to the online portfolio of Sam Willis, a London based Designer.</h2>
    <a href="#" class='open-split'>Let's take a look</a>
  </div>
</div>

<div class='splitter'>

  <section>
    <div class='quadrant'>
      <div class='quad-head'>
        <h2>Work</h2>
        <p>Take a look at some of the projects I have worked on.</p>
      </div>
      <div class='quad-copy'>

      </div>
    </div>
  </section>

  <section>
  <div class='quadrant'>
    <div class='quad-head'>
      <h2>Experience</h2>
      <p>See where I have worked and what I have learned (so far).</p>
    </div>
    </div>
  </section>

  <section>
    <div class='quadrant'>
      <div class='quad-head'>
        <h2>Bio</h2>
        <p>Learn about who I am and where I have come from.</p>
      </div>
    </div>
  </section>

  <section>
    <div class='quadrant'>
      <div class='quad-head'>
        <h2>Contact</h2>
        <p>A number of ways that you can get in touch with me.</p>
      </div>
    </div>
  </section>

</div>