---
title: Sam Willis - Digital Designer
---

<%= partial "_includes/nav" %>

<script type="text/javascript">
  $('.splitter').hide();
</script>

<div id='homepage'>
  <div class='home-content'>
    <h1>I design &amp; build websites</h1>
    <h2>Welcome to the online portfolio of Sam Willis, a London based Designer.</h2>
    <a href="#" class='open-split'>Let's take a look</a>
  </div>
</div>

<div class='splitter'>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</div>